---

import type { MarkdownLayoutProps } from 'astro';
import Footer from '../components/footer.svelte';

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter, url } = Astro.props;
---
<html>
  <head>
    <!-- <link rel="canonical" href={new URL(url as string, Astro.site).pathname}> -->
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-black text-center text-white">
    <h1 class="text-2xl">{frontmatter.title} by {frontmatter.author}</h1>
    <main>
      <slot />
    </main>
    <p>Written on: {frontmatter.date}</p>
    <Footer/>
  </body>
  
</html>